.about-service {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top:100px;
  }
  
  .box {
    width: calc(50% - 10px); /* 기본적으로 두 개씩 배치 */
    height: 200px; /* 고정 높이 */
    background-color: #fdfdfdd9;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    word-wrap: break-word; /* 긴 텍스트가 박스를 벗어나지 않도록 처리 */
    overflow-wrap: break-word;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* 모바일에서 박스 크기 조정 */
  @media (max-width: 768px) {
    .box {
      width: 100%; /* 모바일에서는 한 줄에 한 개의 박스 */
      height: auto; /* 텍스트 길이에 맞춰 높이 자동 조정 */
    }
  }