.about-service {
    width:100%;
    height: 600px;
    padding-top: 40px;
    border-radius: 20px;
    margin: 70px 10px 10px 25px;
}

.about-service div {
    font-weight: bold; /* 폰트를 굵게 설정 */
  }

.about-service h3 {
    color: rgba(8, 32, 36, 0.574)
}