/* Home.css */

@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


  .select-box {
    width: 400px;
    height:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px; /* 버튼 사이 간격 */
    margin-top: 20px;
    background: transparent;
    border-radius: 5px;
    
  }
  
  .select-button {
    font-family:"DoHyeon-Regular";
    width: 200px;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #000000; /* 버튼 색상 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    opacity: 0; /* 초기값 */
  transform: translateY(-50px); /* 초기 위치 */
  animation: slideIn 0.5s forwards; /* 애니메이션 적용 */
    
  }

  .select-button:nth-child(1) {
    animation-delay: 0.6s; /* 첫 번째 버튼 딜레이 */
  }
  
  .select-button:nth-child(2) {
    animation-delay: 0.5s; /* 두 번째 버튼 딜레이 */
  }
  
  .select-button:nth-child(3) {
    animation-delay: 0.1s; /* 세 번째 버튼 딜레이 */
  }

  
  .select-button:hover {
    background-color: #323332; /* 버튼 hover 시 색상 */
  }