/* Home.css */

@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


  .select-box {
    width: 400px;
    height:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px; /* 버튼 사이 간격 */
    margin-top: 20px;
    background: transparent;
    border-radius: 5px;
    
  }
  
  .select-button {
    width: 200px;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #000000; /* 버튼 색상 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }

  
  .select-button:hover {
    background-color: #323332; /* 버튼 hover 시 색상 */
  }