

.background-wrapper {
    background-color: white;
    width: 1400px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 70px 10px 25px 25px;
    display: flex;
  justify-content: center;  /* 수평 중앙 정렬 */
  align-items: center;      /* 수직 중앙 정렬 */
    place-items: center;
}

.logout-button {
    background-color: ghostwhite;
    padding:5 10px;
    width: 50px;
    height: 30px;
    font-size: 10px;
    cursor: pointer;
    font-weight: 700;
}

.logout-button:hover {
    background-color: rgb(149, 188, 188);
}

.lookup-button {
    padding: 10px 20px;
    background-color: #67889a;  /* 버튼 기본 색상 */
    color: white;
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;

}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}