/* Mypage.css */

.background-wrapper {
    background-color: rgb(255, 255, 255); 
    margin: 70px 10px 25px 25px;
    padding: 20px;
    min-height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-size: 32px;
    color: black;
    margin-bottom: 20px;
    border-bottom: 5px solid #000000;
  }
  .mypage-header {
    width: 100%;
    margin-bottom: 30px;
    
    padding-bottom: 10px; /* 경계선과 텍스트 사이 여백 추가 */
  }

  .find-icon {
    
    vertical-align: middle;  /* 아이콘의 수직 정렬을 중간으로 맞추기 */
    margin-bottom: 5px; /* 아이콘 아래에 간격을 추가하여 내리기 */

  }
  
  
  .user-info {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 요소들이 양 끝으로 배치되도록 설정 */
    width: 100%; /* 가로 크기를 100%로 설정하여 충분한 공간 확보 */
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 24px;
    color: #000;
    margin-right: 10px; /* 버튼과의 간격 */
  }
  
  h2 {
    font-size: 24px;
    color: #000000;
    margin-right: 10px; /* Add space between username and button */
    border-bottom: 3px solid #ddd;
  }
  
  .logout-button {
    font-family:"DoHyeon-Regular";
    background-color: #c6c4c4c5;
    color: rgb(0, 0, 0);
    width: 90px;
    padding: 5px 15px;
    font-size: 12px;
    border-color: #313131e3;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  .logout-button:hover {
    background-color: #303030;
  }
  
  .lookup-button {
    font-family:"DoHyeon-Regular";
    background-color: #52a49cdd;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
  }
  
  .lookup-button:hover {
    background-color: #283e3d;
  }
  
  .error-message {
    color: #e74c3c;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .log-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
    max-width: 900px;
  }
  
  .log-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  .log-item:hover {
    transform: scale(1.03);
  }
  
  .log-item p {
    margin: 10px 0;
    font-size: 16px;
    color: #34495e;
  }
  
  .log-item img, .log-item video {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    transition: transform 0.3s ease;
  }
  
  .log-item img:hover, .log-item video:hover {
    transform: scale(1.05);
  }
  

  