.header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding:20px 10%;
    background-color: rgb(182, 178, 178);
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index:100;
}

.logo {
    font-size:35px;
    color:rgb(31, 30, 30);
    font-weight: 700;

}

.navbar a {
    position: relative;
    font-size: 18px;
    color: rgb(31, 30, 30);
    font-weight:500;
    margin-left:60px;
    
}

.navbar a::before {
    content:'';
    position: absolute;
    top:100%;
    left:0;
    width:0;
    height:2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width:100%
}