.header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding:9px 5%;
    background-color: rgb(206, 156, 125);
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index:100;
}

.logo {
    font-size:35px;
    color:rgb(31, 30, 30);
    font-weight: 700;

}

.navbar a {
    position: relative;
    font-size: 18px;
    color: rgb(31, 30, 30);
    font-weight:500;
    margin-left:60px;
    
}

.navbar a::before {
    content:'';
    position: absolute;
    top:100%;
    left:0;
    width:0;
    height:2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width:100%
}



.navbar .logout-button {
    background-color: #e9ae87;
    color: #fff;
    border: none;
    padding: 5px 10px; /* 패딩 줄임 */
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* 폰트 크기 줄임 */
    
  }
  
  .navbar .logout-button:hover {
    background-color: #bdbcbc;
    color: #adccdc;
  }
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #e9ae87;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0px 4px 6px rgba(171, 169, 169, 0.2);
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    width: auto; /* 글자 길이에 맞게 크기 조정 */
  }
  
  .dropdown-menu a {
    color: #fff;
    text-decoration: none;
    
  }
  
  .dropdown-menu a:hover {
    background-color: #bdbcbc;
    color: #adccdc;
  }