.Objectlist {
    position:fixed;
    bottom:10px;
    left:10px;
    height: 550px;
    margin: 10px;
    background-color: rgba(183, 243, 226, 0.41);
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 40px;
    max-width: 500px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    transition: box-shadow 0.3s ease;
    font-weight: 600;
}


.Objectlist .menu_bar {
    display: flex;
    gap: 10px;
  }
  
  .Objectlist .menu_bar select {
    background-color: rgb(206, 206, 206);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .Objectlist .menu_bar button {
    flex: 1;
  }