@font-face {
    font-family:"DoHyeon-Regular";
    src: url("/DoHyeon-Regular.ttf")
  }
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    

}
  body {
    background : url('/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
   
    font-family: "DoHyeon-Regular";
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: whitesmoke;

  }
  
  a {
    text-decoration: none;
  }